@font-face {
  font-family: $wallie;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.woff2") format("woff2"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.woff") format("woff"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Skinny.ttf") format("truetype");
  font-weight: $font-weight-skinny;
  font-display: fallback;
}

@font-face {
  font-family: $wallie;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.woff2") format("woff2"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.woff") format("woff"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Fit.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: $wallie;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.woff2") format("woff2"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.woff") format("woff"), url("//d22j03ecumputt.cloudfront.net/fonts/Wallie-Chunky.ttf") format("truetype");
  font-weight: $font-weight-chunky;
  font-display: fallback;
}

@font-face {
  font-family: $grenette;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/GrenettePro-Light.ttf") format("truetype");
  font-display: fallback;
}

@font-face {
  font-family: $grenette;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/GrenettePro-SemiBold.ttf") format("truetype");
  font-weight: $font-weight-semi-bold;
  font-display: fallback;
}

@font-face {
  font-family: $grenette;
  src: url("//d22j03ecumputt.cloudfront.net/fonts/GrenettePro-Black.ttf") format("truetype");
  font-weight: $font-weight-black;
  font-display: fallback;
}

@font-face {
  font-family: 'OCRAStd';
  src: url('//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.eot?#iefix') format('embedded-opentype'),  url('//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.otf')  format('opentype'),
  url('//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.woff') format('woff'), url('//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.ttf')  format('truetype'), url('//d22j03ecumputt.cloudfront.net/fonts/OCRAStd.svg#OCRAStd') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
