//First Draft
$font-size-base-walla:  16px;
$font-size-xxxs:  0.5rem;
$font-size-xxs:   0.625rem;
$font-size-xs:    0.75rem;
$font-size-s:     0.875rem;
$font-size-m:     1rem;
$font-size-l:     1.25rem;
$font-size-ll:    1.375rem;
$font-size-lll:   1.5rem;
$font-size-3L:    1.625rem;
$font-size-xl:    2rem;
$font-size-xxl:   2.25rem;
$font-size-xxxl:  3rem;
$font-size-xxxxl: 3.75rem;

$letter-spacing:  0.5px;

$line-height-s:     8px;
$line-height-ms:    12px;
$line-height-m:     16px;
$line-height-ml:    20px;
$line-height-l:     26px;
$line-height-xl:    32px;
$line-height-xxl:   44px;
$line-height-xxxl:  60px;

$wallie: 'Wallie';
$grenette: 'Grenette';
$creditCardFont:  'OCRAStd';
$font-weight-chunky: 700;
$font-weight-skinny: 300;

$font-weight-semi-bold: 500;
$font-weight-black: 700;
