//First Draft
$font-size-xxxs:  8px;
$font-size-xxs:   10px;
$font-size-xs:    12px;
$font-size-s:     14px;
$font-size-main:  16px;
$font-size-m:     18px;
$font-size-l:     20px;
$font-size-ll:    22px;
$font-size-lll:   24px;
$font-size-3L:    26px;
$font-size-xl:    32px;
$font-size-xxl:   36px;
$font-size-xxxl:  48px;
$font-size-xxxxl: 60px;

$letter-spacing:  0.5px;

$wallie:          'Wallie';
$wallieSkinny:    'WallieSkinny';
$creditCardFont:  'OCRAStd';